.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(236, 236, 236, 0.042);
  z-index: 1050;
  display: flex;
  align-items: center;
  justify-content: center;
}
